{# 全局自定义样式：在 _config.next.yml → custom_file_path.head 中挂载 #}
<style>
.post-body img[src*="about-tech-stack.svg"] {
  max-width: 680px;
  width: 100%;
  height: auto;
  display: block;
  margin: 1em 0;
}
</style>
